.tech-parent {
    margin-top: 3rem;
}

.logo_images {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo_images .image {
    width: 56px;
}

.logo_images .image img {
    width: 100%;
}

.tech-parent {
    width: 100%;
}

@media screen and (max-width:1000px) {
    .logo_images {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {
    .logo_images {
        width: 85%;
        margin: 0 auto;
    }

    .logo_images .image {
        width: 48px;
    }
}

@media screen and (max-width:600px) {
    .logo_images .image {
        width: 40px;
    }

}

@media screen and (max-width:400px) {
    .logo_images {
        width: 90%;
        margin: 0 auto;
    }
        .logo_images .image {
        width: 32px;
    }
}